@page "/api/accounts/ReestablecerPassword"
@inject IRepository repository
@inject SweetAlertService sweetAlertService
@inject NavigationManager navigationManager

@if (loading)
{
    <div class="spinner"/>
}

<div class="row">
    <div class="col-6 offset-md-3">
        <EditForm Model="recuperarPasswordDTO" OnValidSubmit="CambiarPasswordAsync">
            <DataAnnotationsValidator />
            <div class="card">
                <div class="card-header">
                    <span>
                        <i class="oi oi-key" />&nbsp;Cambiar Contraseña
                        <button class="btn btn-sm btn-primary float-end mx-2" type="submit"><i class="oi oi-check" />&nbsp;Guardar Cambios</button>
                    </span>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label>Email:</label>
                        <div>
                            <InputText class="form-control" @bind-Value="@recuperarPasswordDTO.Email" />
                            <ValidationMessage For="@(() => recuperarPasswordDTO.Email)" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label>Nueva contraseña:</label>
                        <div>
                            <InputText type="password" class="form-control" @bind-Value="@recuperarPasswordDTO.Password" />
                            <ValidationMessage For="@(() => recuperarPasswordDTO.Password)" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label>Confirmar contraseña:</label>
                        <div>
                            <InputText type="password" class="form-control" @bind-Value="@recuperarPasswordDTO.ConfirmPassword" />
                            <ValidationMessage For="@(() => recuperarPasswordDTO.ConfirmPassword)" />
                        </div>
                    </div>
                </div>
            </div>
        </EditForm>
    </div>
</div>


@code {
    private RecuperarPasswordDTO recuperarPasswordDTO = new();
    private bool loading;

    [Parameter]
    [SupplyParameterFromQuery]
    public string Token { get; set; } = "";

    private async Task CambiarPasswordAsync()
    {
        loading = true;
        recuperarPasswordDTO.Token = Token;

        var responseHttp = await repository.Post("/api/accounts/ReestablecerPassword", recuperarPasswordDTO);

        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            loading = false;
            return;
        }

        loading = false;
        await sweetAlertService.FireAsync("Confirmación", "La contraseña fue cambiada con éxito, ahora puede ingresar con su nueva contraseña", SweetAlertIcon.Info);
        navigationManager.NavigateTo("/Login");
    }
}